{% extends "block.html" %}

{% block head_content %}
<title>Titulo de prueba</title>
{% endblock %}


{% block container %}
<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 flex-fill bd-highlight" style="text-align: center;">Confirmados</div>
    <div class="p-2 flex-fill bd-highlight" style="text-align: center;">Recuperados</div>
    <div class="p-2 flex-fill bd-highlight" style="text-align: center;">Muertes</div>
    <div class="p-2 flex-fill bd-highlight" style="text-align: center;">Activos</div>
    <div class="p-2 flex-fill bd-highlight" style="text-align: center;">Criticos</div>
</div>
{% endblock %}